<!DOCTYPE html>
<html class="h-full bg-gray-900">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="h-full">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="mb-4 text-center">
        {% for msg in messages %}
          <p class="text-red-400 text-sm">{{ msg }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-white">Create a Task</h2>

    <form method="POST" class="mt-10 sm:mx-auto sm:w-full sm:max-w-md space-y-6">
      <div>
        <label class="block text-sm font-medium text-white">Title</label>
        <input type="text" name="title" class="block w-full rounded-md bg-white/5 px-3 py-2 text-white placeholder:text-gray-500 focus:outline-indigo-500" required>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company" class="h-8 w-auto" />
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-950/50 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
            <a href="/" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Home</a>
            <a href="/profile" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Profile</a>
            <a href="/create" aria-current="page" class="rounded-md px-3 py-2 text-sm bg-indigo-700 font-medium text-white hover:bg-indigo-700">+ Create</a>
          </div>
        </div>
        <div class="hidden sm:flex items-center ml-auto">
          <form action="/logout" method="POST">
            <button type="submit" class="rounded-md bg-red-600 px-3 py-2 text-sm font-medium text-white hover:bg-red-700">Logout</button>
          </form>
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium text-white">(Optional) Due Date</label>
        <input type="text" name="due" class="block w-full rounded-md bg-white/5 px-3 py-2 text-white placeholder:text-gray-500 focus:outline-indigo-500">
      </div>

      <button type="submit" class="w-full rounded-md bg-indigo-500 px-3 py-2 text-white font-semibold hover:bg-indigo-400">+ Create</button>
    </form>
  </div>
</body>
</html>
